@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  /*background-color: black;*/
  /*background-image: linear-gradient(270deg,#1b1429,#140f23);*/
  background-color: black;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto; }

.navbar-brand {
  width: 60px;
  filter: drop-shadow(2px 4px 8px #585858); }

.nav-item:hover {
  color: #ff2301; }

a.nav-link.dropdown-toggle.show {
  color: #ff5a41; }

.scroll a.nav-link.dropdown-toggle.show {
  color: black; }

.navbar {
  position: fixed;
  right: 0;
  z-index: 100;
  width: 100%;
  background-color: black; }
  .navbar li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative; }
  .navbar a {
    text-decoration: none;
    color: #ff5a41;
    font-size: 17px;
    font-weight: bold; }
    .navbar a:hover {
      color: #ff2301; }
  .navbar li::before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #ff2301;
    z-index: 1;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.5s ease-in-out; }
  .navbar li:hover::before {
    transform: scaleX(1); }

.dropdown-menu {
  background-color: black; }

.dropdown-item:hover {
  background-color: black; }

.busqueda__icon {
  display: flex;
  justify-content: end;
  margin-right: 10px;
  margin-left: 7px;
  width: 40px;
  filter: invert(100%);
  height: auto;
  cursor: pointer; }

.cart__icon {
  display: flex;
  justify-content: end;
  margin-right: 30px;
  margin-left: 7px;
  width: 40px;
  filter: invert(100%);
  height: auto;
  cursor: pointer; }

.login__icon {
  display: flex;
  justify-content: end;
  margin-right: 8px;
  margin-left: 7px;
  width: 40px;
  filter: invert(100%);
  height: auto;
  cursor: pointer; }

@media screen and (max-width: 5000px) {
  .user__actions {
    display: flex;
    align-items: center;
    flex-direction: row; } }

@media screen and (max-width: 1300px) {
  .user__actions {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 7px; } }

@media screen and (max-width: 1000px) {
  .user__actions {
    display: flex;
    align-items: center;
    flex-direction: row; } }

@media screen and (max-width: 850px) {
  .user__actions {
    display: flex;
    align-items: center; } }

@media screen and (max-width: 700px) {
  .user__actions {
    display: flex;
    align-items: center; } }

@media screen and (max-width: 415px) {
  .user__actions {
    display: flex;
    align-items: center; } }

.scroll {
  background-color: #ff5a41;
  box-shadow: .1rem .2rem .3rem #333; }
  .scroll .nav-item a {
    color: black; }
  .scroll li::before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 3px;
    background: black;
    z-index: 1;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.5s ease-in-out; }
  .scroll li:hover::before {
    transform: scaleX(1); }
  .scroll .cart__icon {
    filter: invert(15%); }
  .scroll .busqueda__icon {
    filter: invert(15%); }
  .scroll .login__icon {
    filter: invert(15%); }
  .scroll .navbar-toggler {
    color: #333; }
  .scroll .dropdown-menu {
    background-color: #ff5a41; }
    .scroll .dropdown-menu .dropdown-item:hover {
      background-color: transparent; }

.dropdown-toggle {
  color: #ff5a41; }
  .dropdown-toggle:hover {
    color: #ff5a41; }

.diseñoNumero {
  padding: 10px;
  background-color: red;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  font-size: 10px;
  position: relative;
  top: -12px;
  left: 30px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center; }

.contenedorCompra {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 15px;
  background-color: rgba(51, 51, 51, 0.6);
  flex-direction: column;
  gap: 35px;
  z-index: 100; }

.informacionCompra {
  width: 500px;
  height: 500px;
  background-color: black;
  border-radius: 25px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
  box-shadow: #fc3232 0px -1px 15px; }
  .informacionCompra h2 {
    display: flex;
    font-weight: 300;
    margin: 50px 0px 0px 50px;
    font-size: 32px;
    width: 100%;
    color: white; }

.x {
  padding-top: 20px;
  padding-right: 30px;
  cursor: pointer;
  font-size: 30px;
  color: white; }

.productosCompra {
  font-size: 17px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 450px;
  height: 30%;
  overflow-y: auto;
  margin-top: 0; }

.productosCompra > div {
  margin: 0px 45px;
  padding: 20px 0px;
  width: auto;
  border-bottom: 1px dotted black;
  display: flex;
  justify-content: space-between; }

.productosCompra::-webkit-scrollbar {
  width: 7px;
  background-color: #141C29;
  border-radius: 5px; }

.productosCompra::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 3px; }

.img {
  display: flex;
  flex-direction: row;
  align-items: center; }

.productosCompra img {
  width: 25px;
  height: auto;
  margin-right: 10px;
  border-bottom: none;
  cursor: pointer; }

.total {
  z-index: 1;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 150px;
  font-size: 27px;
  font-weight: 700; }
  .total p {
    color: white; }

.total span {
  font-weight: 300; }

.contenedorCompra > button {
  z-index: 1;
  background-color: #ff5a41;
  width: 300px;
  height: 45px;
  border-radius: 10px;
  border: none;
  font-size: 17px;
  font-weight: 300; }

.contenedorCompra > button:hover {
  background-color: #ff5a41;
  color: black; }

.none > div,
.none button,
.none p,
.none h2 {
  width: 0px;
  height: 0px;
  font-size: 0px;
  border: 0px; }

.soldOut {
  background-color: red;
  padding: 7px 10px;
  border-radius: 10px; }

.botonTrash {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center; }

.h1 {
  font-family: 'Poppins', sans-serif; }

.h2 {
  font-family: 'Poppins', sans-serif; }

.h3 {
  font-family: 'Poppins', sans-serif; }

.header {
  font-family: 'Montserrat', sans-serif; }

.navbar a {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold; }

.p {
  font-family: 'Titillium Web', sans-serif; }

#carouselExampleIndicators {
  margin-top: 5%;
  background-image: linear-gradient(#f47521, #fab818); }

.carousel-item {
  margin-top: 50px;
  height: 370px;
  min-height: 370px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: transform 2s ease, opacity .5s ease-out; }

.carousel-control-prev, .carousel-control-next {
  position: absolute;
  display: block;
  top: calc(50% - 200px); }

img {
  max-width: 100%; }

.containerItems {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px; }
  .containerItems a {
    color: #ffffff;
    font-size: 17px;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-decoration: none;
    margin-left: 11px;
    font-family: 'Poppins', sans-serif; }

.item {
  width: 100%;
  margin: 0 auto;
  border-radius: 15px;
  --bs-border-width: 0px;
  box-shadow: #fc3232 0px -1px 15px;
  padding-bottom: 20px; }
  .item .price {
    margin-bottom: 0%;
    color: #f8f8f8;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    font-family: 'Poppins', sans-serif; }
  .item .add-to-card {
    color: #ff5a41;
    border: 1px solid #ff5a41;
    background-color: black;
    text-transform: uppercase;
    padding: 14px 10px;
    border-radius: 6px;
    font-weight: bold;
    margin-top: 15px; }
    .item .add-to-card:hover {
      background-color: #ff5a41;
      color: black; }
  .item .btn {
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    white-space: nowrap;
    text-align: center;
    display: block;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #ff5a41; }
  .item .view-btn {
    color: #ff5a41;
    border: 1px solid #ff5a41;
    background-color: black;
    padding: 14px 10px;
    font-weight: bold;
    margin-top: 15px; }
    .item .view-btn:hover {
      background-color: #ff5a41;
      color: black; }

.col-5 {
  flex: 0 0 auto;
  width: 45%; }
  .col-5 .fa-solid {
    font-size: 17px; }

.agregar {
  margin-left: 14px; }

.item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  z-index: -1; }

.item:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1); }

.view {
  height: 300px; }

.item img {
  width: 100%;
  object-fit: cover;
  transition: all .5s;
  height: 290px; }

.item:hover img {
  transform: scale(1.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.item figure {
  overflow: hidden;
  border-radius: 14px 14px 0px 0px; }

.stock-details {
  font-size: 12px;
  color: #9e9e9e;
  text-transform: uppercase;
  margin-right: 9px; }

.info button {
  background: none;
  padding: 15px 10px;
  cursor: pointer;
  border: 2px solid;
  color: #ff2301; }
  .info button:hover {
    background-color: #ff5a41;
    color: black; }

.pie {
  width: 100%;
  background-color: #ff5a41; }

.pie .group-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px; }

.pie .group-1 .box figure {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.pie .group-1 .box figure img {
  width: 250px; }

.pie .group-1 .box h2 {
  color: white;
  margin-bottom: 25px;
  font-size: 20px; }

.pie .group-1 .box p {
  color: #efefef;
  margin-bottom: 10px; }

.pie .group-1 .red a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  margin-top: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease; }

.pie .group-1 .red a:hover {
  color: aqua; }

.pie .group-2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff; }

.pie .group-2 small {
  font-size: 15px; }

@media screen and (max-widht: 800px) {
  .pie .group-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px; } }

.containerItems2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px; }
  .containerItems2 a {
    color: #ffffff;
    font-size: 17px;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-decoration: none;
    margin-left: 11px;
    font-family: 'Poppins', sans-serif; }

section {
  padding: 30px; }

.comoComprar__questions {
  margin-top: 60px;
  margin-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px; }
  .comoComprar__questions p {
    font-size: 1rem;
    color: #efefef; }

.sobrenosotros__text {
  margin-top: 60px;
  margin-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  line-height: 2; }
  .sobrenosotros__text p {
    font-size: 1rem;
    color: #efefef; }

:root {
  --white: #afafaf;
  --red: #e31b23;
  --bodyColor: #292a2b;
  --borderFormEls: hsl(0, 0%, 10%);
  --bgFormEls: hsl(0, 0%, 14%);
  --bgFormElsFocus: hsl(0, 7%, 20%); }

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: 100%; }

button,
label {
  cursor: pointer;
  color: white; }

select {
  appearance: none; }

select::-ms-expand {
  display: none; }

select:-moz-focusring {
  color: transparent !important;
  text-shadow: 0 0 0 var(--white); }

textarea {
  resize: none; }

.myForm {
  margin: 0 auto;
  margin-top: 85px; }

.container__form {
  filter: drop-shadow(#fc3232 2px 4px 8px);
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1.5rem;
  height: 800px; }
  .container__form ul {
    list-style: none;
    width: 500px;
    width: 100%;
    margin: 0 auto; }
  .container__form a {
    color: inherit;
    margin: 0 auto; }

/* FORM ELEMENTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.myForm h1 {
  margin: 0 auto;
  margin-bottom: 1.5rem;
  text-align: center; }

.myForm li,
.myForm .grid > *:not(:last-child) {
  margin-bottom: 1.5rem; }

.myForm select,
.myForm input,
.myForm textarea,
.myForm button {
  width: 100%;
  line-height: 1.5;
  padding: 15px 10px;
  border: 1px solid var(--borderFormEls);
  color: var(--white);
  background: var(--bgFormEls);
  transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25), transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25); }

.myForm textarea {
  height: 170px; }

.myForm ::placeholder {
  color: inherit;
  opacity: 1; }

.myForm select:focus,
.myForm input:focus,
.myForm textarea:focus,
.myForm button:enabled:hover,
.myForm button:focus,
.myForm input[type="checkbox"]:focus + label {
  background: var(--bgFormElsFocus); }

.myForm select:focus,
.myForm input:focus,
.myForm textarea:focus {
  transform: scale(1.02); }

.myForm *:required,
.myForm select {
  background-repeat: no-repeat;
  background-position: center right 12px;
  background-size: 15px 15px; }

.myForm *:required {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/asterisk.svg); }

.myForm select {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/down.svg); }

.myForm *:disabled {
  cursor: default;
  filter: blur(2px); }

/*  BTNS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.myForm .required-msg {
  display: none;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/asterisk.svg) no-repeat center left/15px 15px;
  padding-left: 20px; }

.myForm .btn-grid {
  position: relative;
  overflow: hidden;
  transition: filter 0.2s; }

.myForm button {
  font-weight: bold; }

.myForm button > * {
  display: inline-block;
  width: 100%;
  transition: transform 0.4s ease-in-out; }

.myForm button .back {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-110%, -50%); }

.myForm button:enabled:hover .back,
.myForm button:focus .back {
  transform: translate(-50%, -50%); }

.myForm button:enabled:hover .front,
.myForm button:focus .front {
  transform: translateX(110%); }

/*  CHECKBOX
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.myForm input[type="checkbox"] {
  position: absolute;
  left: -9999px; }

.myForm input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  padding-left: 2rem;
  transition: background 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25); }

.myForm input[type="checkbox"] + label::before,
.myForm input[type="checkbox"] + label::after {
  content: '';
  position: absolute; }

.myForm input[type="checkbox"] + label::before {
  left: 0;
  top: 4px;
  width: 18px;
  height: 18px;
  border: 2px solid var(--white); }

.myForm input[type="checkbox"]:checked + label::before {
  background: var(--red); }

.myForm input[type="checkbox"]:checked + label::after {
  left: 7px;
  top: 4px;
  width: 6px;
  height: 14px;
  border-bottom: 2px solid var(--white);
  border-right: 2px solid var(--white);
  transform: rotate(45deg); }

.contacto__form {
  display: flex;
  align-items: center;
  justify-content: center; }

.map {
  max-width: 100%;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  overflow: hidden; }

h1 {
  position: relative;
  bottom: 10px;
  font-size: 40px;
  color: #efefef;
  margin: 0 auto;
  max-width: 100%; }

.vermasBoton {
  margin: 0 auto;
  padding-bottom: 50px; }
  .vermasBoton button {
    background: none;
    padding: 15px 10px;
    cursor: pointer;
    border: 2px solid;
    border-color: orangered;
    color: #ff2301;
    border-radius: 30%; }
    .vermasBoton button:hover {
      background-color: #ff5a41;
      color: black; }

.wrapper {
  height: 15vh;
  display: grid;
  place-items: center; }

.wrapper {
  width: 100%; }
  .wrapper .typing-demo {
    width: 19ch;
    animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    color: #ff5a41;
    position: relative;
    bottom: 10px;
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 3%;
    word-wrap: break-word;
    font-weight: bold; }
    .wrapper .typing-demo .p {
      font-family: 'Titillium Web', sans-serif; }

@keyframes typing {
  from {
    width: 0; } }

@keyframes blink {
  50% {
    border-color: transparent; } }

#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: white;
  /* Set a background color */
  color: aqua;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 32px;
  /* Increase font size */ }

#myBtn:hover {
  background-color: aqua;
  /* Add a dark-grey background on hover */
  color: #fff; }

#wpp__icon {
  display: flex;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 90px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: white;
  /* Set a background color */
  color: aqua;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 35px;
  /* Increase font size */ }

#wpp__icon:hover {
  background-color: aqua;
  /* Add a dark-grey background on hover */
  color: #fff; }

@media screen and (max-width: 768px) {
  #carouselExampleIndicators {
    background-image: none; }
  .carousel-control-prev, .carousel-control-next {
    top: calc(50% - 250px); }
  .carousel-indicators {
    bottom: -20px; }
  .logo {
    border-radius: 50%;
    width: 100px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    justify-content: center; }
  .red {
    margin: 25px; } }

@media screen and (max-width: 2000px) {
  .containerItems {
    grid-template-columns: repeat(5, 1fr); }
  .typing-demo {
    font-size: 65px; }
  .containerItems2 {
    margin-top: 50px;
    grid-template-columns: repeat(5, 1fr); } }

@media screen and (max-width: 1060px) {
  .typing-demo {
    font-size: 40px; } }

@media screen and (max-width: 1300px) {
  .containerItems {
    grid-template-columns: repeat(4, 1fr); }
  .containerItems2 {
    margin-top: 50px;
    grid-template-columns: repeat(4, 1fr); } }

@media screen and (max-width: 1200px) {
  .containerItems {
    grid-template-columns: repeat(3, 1fr); }
  .containerItems2 {
    margin-top: 50px;
    grid-template-columns: repeat(3, 1fr); }
  .typing-demo {
    font-size: 60px; } }

@media screen and (max-width: 850px) {
  .containerItems {
    grid-template-columns: repeat(2, 1fr); }
  .typing-demo {
    font-size: 50px; }
  .containerItems2 {
    margin-top: 50px;
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 700px) {
  .containerItems {
    grid-template-columns: repeat(2, 1fr); }
  .containerItems2 {
    margin-top: 50px;
    grid-template-columns: repeat(2, 1fr); }
  .typing-demo {
    font-size: 40px;
    text-align: center;
    white-space: normal;
    font-size: 30px; } }

@media screen and (max-width: 490px) {
  .typing-demo {
    width: 100%;
    text-align: center;
    white-space: normal;
    font-size: 30px; } }

@media screen and (max-width: 3000px) {
  .comoComprar__questions {
    padding-top: 25px;
    margin-bottom: 15px;
    font-size: 1.5rem; }
  .sobrenosotros__text {
    padding-top: 25px; }
  /*  .typing-demo{
                            font-size: 150px;
                         }*/ }

/*@media screen and (max-width:3500px){
                            .typing-demo{
                                font-size: 150px;
                             }
                            }*/
@media screen and (max-width: 768px) {
  .navbar ul li {
    flex-direction: column;
    justify-content: center; }
  .logo {
    border-radius: 50%;
    width: 100px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    justify-content: center; }
  .comoComprar__questions {
    padding-top: 25px; }
  .sobrenosotros__text {
    padding-top: 25px; } }

@media screen and (max-width: 989px) {
  .d-flex {
    margin-bottom: 20px; } }

@media screen and (max-width: 400px) {
  .comoComprar__questions {
    padding-top: 15px; }
  .sobrenosotros__text {
    padding-top: 15px; } }

@media screen and (max-width: 550px) {
  .containerItems2 {
    margin-top: 50px;
    grid-template-columns: repeat(1, 1fr); }
  .carousel-control-prev, .carousel-control-next {
    top: 50px; }
  .carousel-indicators {
    bottom: -85px; }
  .carousel {
    margin-bottom: 0;
    padding-bottom: 0;
    height: 230px; }
  .carousel-item {
    height: 2; }
  .containerItems {
    grid-template-columns: repeat(1, 1fr); } }

@media screen and (max-width: 415px) {
  .carousel-control-prev, .carousel-control-next {
    top: 50px; }
  .carousel-indicators {
    bottom: -55px; }
  .carousel {
    margin-bottom: 0;
    padding-bottom: 0;
    height: 230px; }
  .carousel-item {
    height: 2; }
  .typing-demo {
    width: 100%;
    text-align: center;
    white-space: normal;
    font-size: 30px; } }
