.pie{
    width: 100%;
    background-color: #ff5a41;
}

.pie .group-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie .group-1 .box figure{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie .group-1 .box figure img{
    width: 250px;   
   
}

.pie .group-1 .box h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie .group-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}

.pie .group-1 .red a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.pie .group-1 .red a:hover{
    color: aqua;
}

.pie .group-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie .group-2 small{
    font-size: 15px;
}

@media screen and (max-widht:800px){
    .pie .group-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}