$orange-fluo:  #ff2301;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'roboto', sans-serif;
}

body{
  /*background-color: black;*/
 background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
/*background-image: linear-gradient(270deg,#1b1429,#140f23);*/
   display: grid;
   min-height: 100vh;
   grid-template-rows: auto 1fr auto ;
}


@import "./header";

#carouselExampleIndicators{
    margin-top: 5%;
    background-image:linear-gradient(#f47521,#fab818) ;
}
.carousel-item {
    margin-top: 50px;
    height: 370px;
    min-height: 370px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition: transform 2s ease, opacity .5s ease-out
}  

.carousel-control-prev, .carousel-control-next{
    position: absolute;
    display: block;
    top: calc(50% - 200px);
}

img{
    max-width: 100%;
}

.containerItems{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding-left: 50px; 
    padding-right: 50px;
    padding-bottom: 50px;
}
.item{
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: $orange-fluo;

    &:hover{
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    }
}

.info{
    padding: 15px 30px 15px 30px;
    line-height: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
    align-items: center;
   /* background-color: wheat;*/
}

@media screen and (max-width:768px){
#carouselExampleIndicators{
    background-image: none;
}
.carousel-control-prev, .carousel-control-next{
 top: calc(50% - 250px);
}
.logo{
    border-radius: 50%;
    width: 100px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.red{
    margin: 25px;
    
}
}

@media screen and (max-width:400px){
    .carousel-control-prev, .carousel-control-next{
        top: 50px;
       }
    .carousel-indicators{
        bottom: -15px;
    }
    .carousel{
        margin-bottom: 0;
        padding-bottom: 0;
        height: 230px;
    }
    .carousel-item{
        height: 2;
    }
    }


    @media screen and (max-width:1300px){
    .containerItems{
        grid-template-columns: repeat(5, 1fr);   
    } 
    }  

    @media screen and (max-width:1000px){
        .containerItems{
            grid-template-columns: repeat(4, 1fr);   
        } 
        }  

        @media screen and (max-width:850px){
            .containerItems{
                grid-template-columns: repeat(3, 1fr);   
            } 
            }  

            @media screen and (max-width:700px){
                .containerItems{
                    grid-template-columns: repeat(2, 1fr);   
                } 
                }  

                @media screen and (max-width:415px){
                    .containerItems{
                        grid-template-columns: repeat(1, 3fr);   
                    } 
                    }  

h2{
    font-weight: normal;
}
    
.item img{
    width: 100%;
    height: 190px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item:hover img{
    transform: scale(1.2);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item figure{
    overflow: hidden;
}

.price{
    font-size: 15px;
    font-weight: 900;
}

.info button{
    background: none;
  /*background-color: gray;*/
    padding: 15px 10px;
    cursor: pointer;
    border: 2px solid ;
    border-color: orangered;
    color: #ff2301;

    &:hover{
        background-color: #ff5a41;
        color: black;
    }
}

/*wpp icon*/
/*.wpp{
    width: 15%;
    position: fixed;
    background-color: aqua;
}*/

/*footer*/

@import "./footer";

.containerItems2{
    margin-top: 8%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-left: 30px; 
    padding-right: 50px;
    padding-bottom: 50px;
}
@media screen and (max-width:768px){
    .containerItems2{
        margin-top: 5%;
        grid-template-columns: repeat(2, 1fr);   
    }
    .navbar ul li{
        flex-direction: column;  
        justify-content: center;
    }
    .logo{
        border-radius: 50%;
        width: 100px;
        cursor: pointer;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
    .comoComprar__questions{
        padding-top: 75px;
      }
      .sobrenosotros__text{
        padding-top: 70px;
     } 
    }
    
    @media screen and (max-width:989px){
       .d-flex{
        margin-bottom: 20px;
       }
    }
    
    
    @media screen and (max-width:400px){
        .containerItems2{
            margin-top: 5%;
            grid-template-columns: repeat(1, 1fr);   
        }
        .comoComprar__questions{
               padding-top: 70px;
             }
        .sobrenosotros__text{
                padding-top: 70px;
             }
         }     

section{
    padding: 30px; 
}


.comoComprar__questions{
   margin-top: 8%;
   margin-bottom: 3%;
   padding-left: 25px;
   padding-right: 25px;
}

.sobrenosotros__text{
    margin-top: 8%;
    margin-bottom: 3%;
    padding-left: 25px;
    padding-right: 25px;
}

p{
    font-size: 1rem;
    color: #efefef;
}

.container__form {
    position: relative;
    top: 100px;
    margin: 0 auto;
    width: 100%;
    height: 250px;
    overflow: hidden;
    max-width: 100%;
   }
  
  .contacto__form {
    display: flex;
    align-items: center;
    justify-content: center; }
  
    .map {
      max-width: 100%;
      width: 100%;
      margin-top: 190px;
      margin-bottom: 30px;
      display: flex;
      justify-content: center;
      overflow: hidden; 
    }
