$orange-fluo:  #ff2301;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
  /*background-color: black;*/
// background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
/*background-image: linear-gradient(270deg,#1b1429,#140f23);*/
background-color: black;
   display: grid;
   min-height: 100vh;
   grid-template-rows: auto 1fr auto ;
}



@import "./header";

.h1 {
    font-family: 'Poppins', sans-serif;
}
.h2 {
    font-family: 'Poppins', sans-serif;
}
.h3 {
    font-family: 'Poppins', sans-serif;
}
.header {
    font-family: 'Montserrat', sans-serif;
}
.navbar a{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.p{
    font-family: 'Titillium Web', sans-serif;}

#carouselExampleIndicators{
    margin-top: 5%;
    background-image:linear-gradient(#f47521,#fab818) ;
}
.carousel-item {
    margin-top: 50px;
    height: 370px;
    min-height: 370px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition: transform 2s ease, opacity .5s ease-out
}  

.carousel-control-prev, .carousel-control-next{
    position: absolute;
    display: block;
    top: calc(50% - 200px);
}

img{
    max-width: 100%;
}

/*.containerItems{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding-left: 50px; 
    padding-right: 50px;
    padding-bottom: 50px;
}
.item{
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    &:hover{
        box-shadow: 0 10px 20px rgba(185, 185, 185, 0.2);
    }
}

.info{
    padding: 5px 30px 15px 30px;
    line-height: 1;
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    
    
    background-color: wheat;
}





h2{
    font-weight: normal;
}
    
.item img{
    width: 100%;
    height: 190px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item:hover img{
    transform: scale(1.2);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item figure{
    overflow: hidden;
    filter: drop-shadow(rgb(252, 50, 50) 2px 4px 8px);


}

.price{
    font-size: 15px;
    font-weight: 900;
}

.info button{
    background: none;
  background-color: gray;
    padding: 15px 10px;
    cursor: pointer;
    border: 2px solid ;
    border-color: orangered;
    color: #ff2301;

    &:hover{
        background-color: #ff5a41;
        color: black;
    }
}*/

/*wpp icon*/
/*.wpp{
    width: 15%;
    position: fixed;
    background-color: aqua;
}*/

/*footer*/

@import "./footer";

.containerItems2{
    margin-top: 8%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding-left: 30px; 
    padding-right: 50px;
    padding-bottom: 50px;
}



section{
    padding: 30px; 
}


.comoComprar__questions{
    margin-top: 60px;
    margin-bottom: 15px;
   padding-left: 25px;
   padding-right: 25px;
   p{
    font-size: 1rem;
    color: #efefef;
}

}

.sobrenosotros__text{
    margin-top: 60px;
    margin-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    line-height: 2;
    p{
        font-size: 1rem;
        color: #efefef;
    }
}



:root {
    --white: #afafaf;
    --red: #e31b23;
    --bodyColor: #292a2b;
    --borderFormEls: hsl(0, 0%, 10%);
    --bgFormEls: hsl(0, 0%, 14%);
    --bgFormElsFocus: hsl(0, 7%, 20%);
  }
  
  
  input,
  select,
  textarea,
  button {
    font-family: inherit;
    font-size: 100%;
  }
  
  button,
  label {
    cursor: pointer;
    color: white;
  }
  
  select {
    appearance: none;
  }
  
  /* Remove native arrow on IE */
  select::-ms-expand {
    display: none;
  }
  
  /*Remove dotted outline from selected option on Firefox*/
  /*https://stackoverflow.com/questions/3773430/remove-outline-from-select-box-in-ff/18853002#18853002*/
  /*We use !important to override the color set for the select on line 99*/
  select:-moz-focusring {
    color: transparent !important;
    text-shadow: 0 0 0 var(--white);
  }
  
  textarea {
    resize: none;
  }
  
  
  
  .myForm{
    margin: 0 auto;
    margin-top: 85px;
  }
  .container__form {
    filter: drop-shadow(rgb(252, 50, 50) 2px 4px 8px);
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1.5rem;
    height: 800px;
    
    ul {
        list-style: none;
        width: 500px;
        width: 100%;
        margin: 0 auto;
      }

      a {
        color: inherit;
        margin: 0 auto;
      }
  }
/* FORM ELEMENTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.myForm h1 {
    margin: 0 auto;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  .myForm li,
  .myForm .grid > *:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  
  .myForm select,
  .myForm input,
  .myForm textarea,
  .myForm button {
    width: 100%;
    line-height: 1.5;
    padding: 15px 10px;
    border: 1px solid var(--borderFormEls);
    color: var(--white);
    background: var(--bgFormEls);
    transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
      transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
  }
  
  .myForm textarea {
    height: 170px;
  }
  
  .myForm ::placeholder {
    color: inherit;
    /*Fix opacity issue on Firefox*/
    opacity: 1;
  }
  .myForm select:focus,
  .myForm input:focus,
  .myForm textarea:focus,
  .myForm button:enabled:hover,
  .myForm button:focus,
  .myForm input[type="checkbox"]:focus + label {
    background: var(--bgFormElsFocus);
  }
  
  .myForm select:focus,
  .myForm input:focus,
  .myForm textarea:focus {
    transform: scale(1.02);
  }
  
  .myForm *:required,
  .myForm select {
    background-repeat: no-repeat;
    background-position: center right 12px;
    background-size: 15px 15px;
  }
  
  .myForm *:required {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/asterisk.svg);  
  }
  
  .myForm select {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/down.svg);
  }
  
  .myForm *:disabled {
    cursor: default;
    filter: blur(2px);
  }
  
  
  /* FORM BTNS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .myForm .required-msg {
    display: none;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/asterisk.svg)
      no-repeat center left / 15px 15px;
    padding-left: 20px;
  }
  
  .myForm .btn-grid {
    position: relative;
    overflow: hidden;
    transition: filter 0.2s;
  }
  
  .myForm button {
    font-weight: bold;
  }
  
  .myForm button > * {
    display: inline-block;
    width: 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .myForm button .back {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-110%, -50%);
  }
  
  .myForm button:enabled:hover .back,
  .myForm button:focus .back {
    transform: translate(-50%, -50%);
  }
  
  .myForm button:enabled:hover .front,
  .myForm button:focus .front {
    transform: translateX(110%);
  }
  
  
  /* CUSTOM CHECKBOX
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .myForm input[type="checkbox"] {
    position: absolute;
    left: -9999px;
  }
  
  .myForm input[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    padding-left: 2rem;
    transition: background 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
  }
  
  .myForm input[type="checkbox"] + label::before,
  .myForm input[type="checkbox"] + label::after {
    content: '';
    position: absolute;
  }
  
  .myForm input[type="checkbox"] + label::before {
    left: 0;
    top: 4px;
    width: 18px;
    height: 18px;
    border: 2px solid var(--white);
  }
  
  .myForm input[type="checkbox"]:checked + label::before {
    background: var(--red);
  }
  
  .myForm input[type="checkbox"]:checked + label::after {
    left: 7px;
    top: 4px;
    width: 6px;
    height: 14px;
    border-bottom: 2px solid var(--white);
    border-right: 2px solid var(--white);
    transform: rotate(45deg);
  }

  
  .contacto__form {
    display: flex;
    align-items: center;
    justify-content: center; }
  
    .map {
      max-width: 100%;
      width: 100%;
      margin-top: 80px;
      margin-bottom: 30px;
      display: flex;
      justify-content: center;
      overflow: hidden; 
    }

    h1{
        position: relative;
       bottom: 10px;
        font-size: 40px;
        color: #efefef;
        margin: 0 auto;
        max-width: 100%;
       
    }

    .vermasBoton{
        margin: 0 auto;
        padding-bottom: 50px;

        button{
            background: none;
            padding: 15px 10px;
            cursor: pointer;
            border: 2px solid ;
            border-color: orangered;
            color: #ff2301;
            border-radius: 30%;

    &:hover{
        background-color: #ff5a41;
        color: black;
            
        }

    }
}



.wrapper {
    height: 15vh;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
  }

  .wrapper{
    width: 100%;
    .typing-demo {
        width: 19ch;
        animation: typing 2s steps(22), blink .5s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        color: #ff5a41;
        position: relative;
        bottom: 10px;
         margin: 0 auto;
         max-width: 100%;
         margin-bottom: 3%;
         word-wrap: break-word;
         font-weight: bold;
          
          .p{
            font-family: 'Titillium Web', sans-serif;
          }
      }
      
}
  
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: white; /* Set a background color */
    color: aqua; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 32px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: aqua; /* Add a dark-grey background on hover */
    color: #fff;
  }

  #wpp__icon {
    display: flex; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 90px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: white; /* Set a background color */
    color: aqua; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 35px; /* Increase font size */
  }
  
  #wpp__icon:hover {
    background-color: aqua; /* Add a dark-grey background on hover */
    color: #fff;
  }



  .card-ecommerce .card-img-top {
    width: 85%;
    padding: 95px 45px 40px;
    max-width: 100%;
    height: auto;
}


.card-ecommerce:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  z-index: -1;
}

.card-ecommerce:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.card-body-cascade a{
  color: #f8f8f8;
  font-size: 17px;
  font-weight: bold;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-decoration: none;
  
}

.card-body-cascade {
    padding: 1rem 2rem;
    background-color: black;
    
}
.card{
    --bs-border-width: 0px;
    filter: drop-shadow(rgb(252, 50, 50) 2px 4px 8px);

}
.card-body-cascade .price {
  color: #f8f8f8;
  font-size: 18px;
  font-weight: 500;
}

.card-ecommerce .btn {
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    white-space: nowrap;
    text-align: center;
    display: block;
    width: 100%;
    border-radius: 0;
}

.card-ecommerce .add-to-card {
  color: #ff5a41;
  border: 1px solid #ff5a41;
  background-color: black;
  text-transform: uppercase;
  padding: 14px 10px;
  border-radius: 6px;
  font-weight: bold;

  &:hover{
    background-color: #ff5a41;
    color: black;
}
}

.card-ecommerce .view-btn {
    color: #ff5a41;
    border: 1px solid #ff5a41;
    background-color: black;
  padding: 14px 10px;
  border-radius: 6px;
  font-weight: bold;

  &:hover{
    background-color: #ff5a41;
    color: black;
}
}

.stock-details {
  font-size: 12px;
  color: #9e9e9e;
  text-transform: uppercase;
  margin-left: 0.8rem;
}


  @media screen and (max-width:768px){
    #carouselExampleIndicators{
        background-image: none;
    }
    .carousel-control-prev, .carousel-control-next{
     top: calc(50% - 250px);
    }

    .carousel-indicators{
        bottom: -20px;
    } 

    .logo{
        border-radius: 50%;
        width: 100px;
        cursor: pointer;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
    .red{
        margin: 25px;
        
    }
    }
    @media screen and (max-width:550px){
        .carousel-control-prev, .carousel-control-next{
            top: 50px;
           }
        .carousel-indicators{
            bottom: -85px;
        }
        .carousel{
            margin-bottom: 0;
            padding-bottom: 0;
            height: 230px;
        }
        .carousel-item{
            height: 2;
        }
        }
    

    @media screen and (max-width:415px){
        .carousel-control-prev, .carousel-control-next{
            top: 50px;
           }
        .carousel-indicators{
            bottom: -55px;
        }
        .carousel{
            margin-bottom: 0;
            padding-bottom: 0;
            height: 230px;
        }
        .carousel-item{
            height: 2;
        }
        }
    
    
        @media screen and (max-width:1300px){
        .containerItems{
            grid-template-columns: repeat(5, 1fr);   
        } 
        }  
    
        @media screen and (max-width:2000px){
            .containerItems{
                grid-template-columns: repeat(5, 1fr);   
            } 
            .typing-demo{
                font-size: 65px;
        }
            }  
    
            @media screen and (max-width:1060px){
                .typing-demo{
                    font-size: 40px;
            }
                }  
        
    
        @media screen and (max-width:1000px){
            .containerItems{
                grid-template-columns: repeat(4, 1fr);   
            } 
            .typing-demo{
                    font-size: 60px;
            }
            }  
    
            @media screen and (max-width:850px){
                .containerItems{
                    grid-template-columns: repeat(3, 1fr);   
                } 
                .typing-demo{
                    font-size: 50px;
                }
                }  
    
                @media screen and (max-width:700px){
                    .containerItems{
                        grid-template-columns: repeat(2, 1fr);   
                    } 
                    .typing-demo{
                        font-size: 40px;
                        text-align: center;
                        white-space: normal;
                        font-size: 30px;
                    }
                    }
                    
                    @media screen and (max-width:490px){
                     
                        .typing-demo{
                            width: 100%;
                            text-align: center;
                            white-space: normal;
                            font-size: 30px;
                        }
            
                    }  
    
                    @media screen and (max-width:415px){
                        .containerItems{
                            grid-template-columns: repeat(1, 3fr);   
                        } 
                        .typing-demo{
                            width: 100%;
                            text-align: center;
                            white-space: normal;
                            font-size: 35px;
                            
                        }
            
                    }  
    
                    @media screen and (max-width:3000px){
                        .comoComprar__questions{
                            padding-top: 25px;
                            margin-bottom: 15px;
                            font-size: 1.5rem;
                          }
                          .sobrenosotros__text{
                            padding-top: 25px;
                         } 

                       /*  .typing-demo{
                            font-size: 150px;
                         }*/
                        }

                       /*@media screen and (max-width:3500px){
                            .typing-demo{
                                font-size: 150px;
                             }
                            }*/
                    @media screen and (max-width:768px){
                        .containerItems2{
                            margin-top: 5%;
                            grid-template-columns: repeat(2, 1fr);   
                        }
                        .navbar ul li{
                            flex-direction: column;  
                            justify-content: center;
                        }
                        .logo{
                            border-radius: 50%;
                            width: 100px;
                            cursor: pointer;
                            margin-left: auto;
                            margin-right: auto;
                            justify-content: center;
                        }
                        .comoComprar__questions{
                            padding-top: 25px;
                          }
                          .sobrenosotros__text{
                            padding-top: 25px;
                         } 
                        }
                        
                        @media screen and (max-width:989px){
                           .d-flex{
                            margin-bottom: 20px;
                           }
                        }
                        
                        
                        @media screen and (max-width:400px){
                            .containerItems2{
                                margin-top: 5%;
                                grid-template-columns: repeat(1, 1fr);   
                            }
                            .comoComprar__questions{
                                   padding-top: 15px;
                                   
                                 }
                            .sobrenosotros__text{
                                    padding-top: 15px;
                                 }
                             }    
                             
                             

    